<a href="https://colab.research.google.com/github/tontantip/Archive/blob/main/portfolio/portfolio_pro1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

file_id = "1R_oYvMigqRVQ8Qrq7QNoyxUk_zorr_I3"

url = f"https://drive.google.com/uc?export=download&id={file_id}"
print(url)

df = pd.read_csv(url,encoding="cp874")
df.head()

https://drive.google.com/uc?export=download&id=1R_oYvMigqRVQ8Qrq7QNoyxUk_zorr_I3

,LOCATION_ID,LAT,LON,DATE_D,TIME_T,HOUR_,MINUTE_,SECOND_,PROVINCE,DISTRICT,...,SUB_ZONE,SoftClay_m,WaterConte,LiquidLimi,Plasticity,Total_Unit,Score_Rang,Zoning,ผังสี,สีdis
0,1375623100571162025032900:04:36137,13.75623,100.57116,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 00:04:36,0.0,4.0,36.0,กรุงเทพมหานคร,ห้วยขวาง,...,ย.๙-,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,ห้วยขวาง-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก
1,1377853100576312025032901:08:55295,13.77853,100.57631,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 01:08:55,1.0,8.0,55.0,กรุงเทพมหานคร,ห้วยขวาง,...,ย.๙-,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,ห้วยขวาง-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก
2,1377826100574042025032901:31:45101,13.77826,100.57404,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 01:31:45,1.0,31.0,45.0,กรุงเทพมหานคร,ห้วยขวาง,...,ย.๙-,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,ห้วยขวาง-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก
3,137724810057752025032900:55:4670,13.77248,100.57750,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 00:55:46,0.0,55.0,46.0,กรุงเทพมหานคร,ห้วยขวาง,...,ย.๙-,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,ห้วยขวาง-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก
4,1376383100569392025032900:59:08448,13.76383,100.56939,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 00:59:08,0.0,59.0,8.0,กรุงเทพมหานคร,ห้วยขวาง,...,ย.๙-,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,ห้วยขวาง-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก

## EDA

In [2]:
df = df.drop(df.index[-1], axis=0)
df.tail()

,LOCATION_ID,LAT,LON,DATE_D,TIME_T,HOUR_,MINUTE_,SECOND_,PROVINCE,DISTRICT,...,SUB_ZONE,SoftClay_m,WaterConte,LiquidLimi,Plasticity,Total_Unit,Score_Rang,Zoning,ผังสี,สีdis
11784,137283510047792025033008:55:36113,13.72835,100.47790,วันอาทิตย์ที่ 30 มีนาคม 2025,31/12/1899 08:55:36,8.0,55.0,36.0,กรุงเทพมหานคร,บางกอกใหญ่,...,ย.๙-,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,บางกอกใหญ่-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก
11785,1371154100584192025033008:58:13291,13.71154,100.58419,วันอาทิตย์ที่ 30 มีนาคม 2025,31/12/1899 08:58:13,8.0,58.0,13.0,กรุงเทพมหานคร,คลองเตย,...,ย.๙-,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,คลองเตย-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก
11786,1369087100537582025033009:00:31121,13.69087,100.53758,วันอาทิตย์ที่ 30 มีนาคม 2025,31/12/1899 09:00:31,9.0,0.0,31.0,กรุงเทพมหานคร,ยานนาวา,...,ย.๙-,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,ยานนาวา-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก
11787,1380491100524522025033009:04:17227,13.80491,100.52452,วันอาทิตย์ที่ 30 มีนาคม 2025,31/12/1899 09:04:17,9.0,4.0,17.0,กรุงเทพมหานคร,บางซื่อ,...,ย.๙-,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,บางซื่อ-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก
11788,1370258100542172025033009:04:49276,13.70258,100.54217,วันอาทิตย์ที่ 30 มีนาคม 2025,31/12/1899 09:04:49,9.0,4.0,49.0,กรุงเทพมหานคร,ยานนาวา,...,ย.๙-,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,ยานนาวา-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก

In [3]:
df[df["ZONE"].isna()]

,LOCATION_ID,LAT,LON,DATE_D,TIME_T,HOUR_,MINUTE_,SECOND_,PROVINCE,DISTRICT,...,SUB_ZONE,SoftClay_m,WaterConte,LiquidLimi,Plasticity,Total_Unit,Score_Rang,Zoning,ผังสี,สีdis
1922,1377797100573592025032913:14:10361,13.77797,100.57359,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 13:14:10,13.0,14.0,10.0,กรุงเทพมหานคร,ดินแดง,...,NaN,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,NaN,ดินแดง-nan
1939,137564610056032025032915:37:04133,13.75646,100.56030,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 15:37:04,15.0,37.0,4.0,กรุงเทพมหานคร,ดินแดง,...,NaN,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,NaN,ดินแดง-nan
1948,138080610051812025032919:46:28195,13.80806,100.51810,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 19:46:28,19.0,46.0,28.0,กรุงเทพมหานคร,บางซื่อ,...,NaN,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,NaN,บางซื่อ-nan
2482,136579910060512025032909:34:51100,13.65799,100.60510,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 09:34:51,9.0,34.0,51.0,กรุงเทพมหานคร,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan-nan
2483,1365763100602912025032915:51:4782,13.65763,100.60291,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 15:51:47,15.0,51.0,47.0,กรุงเทพมหานคร,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan-nan
2484,1365807100605142025032916:41:48413,13.65807,100.60514,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 16:41:48,16.0,41.0,48.0,กรุงเทพมหานคร,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan-nan
2485,1365807100605322025032915:54:01394,13.65807,100.60532,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 15:54:01,15.0,54.0,1.0,กรุงเทพมหานคร,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan-nan
2486,1365772100603022025032917:27:58250,13.65772,100.60302,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 17:27:58,17.0,27.0,58.0,กรุงเทพมหานคร,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan-nan
2487,1365764100603152025032919:55:13137,13.65764,100.60315,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 19:55:13,19.0,55.0,13.0,กรุงเทพมหานคร,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan-nan
2795,1365807100605162025032909:39:41126,13.65807,100.60516,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 09:39:41,9.0,39.0,41.0,กรุงเทพมหานคร,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan-nan
2832,138952100554532025032911:42:53326,13.89520,100.55453,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 11:42:53,11.0,42.0,53.0,กรุงเทพมหานคร,หลักสี่,...,NaN,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,NaN,หลักสี่-nan
3769,1378047100573882025032900:49:4269,13.78047,100.57388,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 00:49:42,0.0,49.0,42.0,กรุงเทพมหานคร,ดินแดง,...,NaN,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,NaN,ดินแดง-nan
4074,1376322100568152025032912:24:58339,13.76322,100.56815,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 12:24:58,12.0,24.0,58.0,กรุงเทพมหานคร,ห้วยขวาง,...,NaN,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,NaN,ห้วยขวาง-nan
4374,1376365100548642025033010:53:22474,13.76365,100.54864,วันอาทิตย์ที่ 30 มีนาคม 2025,31/12/1899 10:53:22,10.0,53.0,22.0,กรุงเทพมหานคร,ดินแดง,...,NaN,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,NaN,ดินแดง-nan
4781,137232610051372025040922:35:15362,13.72326,100.51370,วันพุธที่ 9 เมษายน 2025,31/12/1899 22:35:15,22.0,35.0,15.0,กรุงเทพมหานคร,บางรัก,...,NaN,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,NaN,บางรัก-nan
5358,1377279100573252025041814:44:55131,13.77279,100.57325,วันศุกร์ที่ 18 เมษายน 2025,31/12/1899 14:44:55,14.0,44.0,55.0,กรุงเทพมหานคร,ดินแดง,...,NaN,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,NaN,ดินแดง-nan
6772,1365449100611982025033011:20:09405,13.65449,100.61198,วันอาทิตย์ที่ 30 มีนาคม 2025,31/12/1899 11:20:09,11.0,20.0,9.0,กรุงเทพมหานคร,บางนา,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,บางนา-nan
8743,1365775100603012025040114:36:38274,13.65775,100.60301,วันอังคารที่ 1 เมษายน 2025,31/12/1899 14:36:38,14.0,36.0,38.0,กรุงเทพมหานคร,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan-nan
9531,137101100504482025032822:39:59154,13.71010,100.50448,วันศุกร์ที่ 28 มีนาคม 2025,31/12/1899 22:39:59,22.0,39.0,59.0,กรุงเทพมหานคร,คลองสาน,...,NaN,ต.ค.-14,60-80,60-80,30-50,1.55-1.65,3.3-4.2,A,NaN,คลองสาน-nan
10679,1365826100600532025033012:06:36187,13.65826,100.60053,วันอาทิตย์ที่ 30 มีนาคม 2025,31/12/1899 12:06:36,12.0,6.0,36.0,กรุงเทพมหานคร,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan-nan
10680,1365759100602932025033011:53:32311,13.65759,100.60293,วันอาทิตย์ที่ 30 มีนาคม 2025,31/12/1899 11:53:32,11.0,53.0,32.0,กรุงเทพมหานคร,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan-nan

In [4]:
df[df["ZONE"].isna()]["ZONE"]

1922     NaN
1939     NaN
1948     NaN
2482     NaN
2483     NaN
2484     NaN
2485     NaN
2486     NaN
2487     NaN
2795     NaN
2832     NaN
3769     NaN
4074     NaN
4374     NaN
4781     NaN
5358     NaN
6772     NaN
8743     NaN
9531     NaN
10679    NaN
10680    NaN
Name: ZONE, dtype: object

In [5]:
df.info()
df.isna().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11789 entries, 0 to 11788
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LOCATION_ID            11789 non-null  object
 1   LAT                    11789 non-null  float64
 2   LON                    11789 non-null  float64
 3   DATE_D                 11789 non-null  object
 4   TIME_T                 11789 non-null  object
 5   HOUR_                  11789 non-null  float64
 6   MINUTE_                11789 non-null  float64
 7   SECOND_                11789 non-null  float64
 8   PROVINCE               11789 non-null  object
 9   DISTRICT               11779 non-null  object
 10  SUB_DISTRICT           11779 non-null  object
 11  District-Sub_district  11789 non-null  object
 12  DESCRIPTION            11789 non-null  object
 13  BLDG_T                 11789 non-null  object
 14  UP_DMG                 11789 non-null  int64
 15  WALL_DMG               11789 non-null  int64
 16  FLOOR_DMG              11789 non-null  int64
 17  PILLAR_DMG             11789 non-null  int64
 18  STRUCTURE_DMG          11789 non-null  int64
 19  TOTAL_DMG              1124 non-null   float64
 20  ZONE                   11768 non-null  object
 21  SUB_ZONE               11768 non-null  object
 22  SoftClay_m             11778 non-null  object
 23  WaterConte             11778 non-null  object
 24  LiquidLimi             11778 non-null  object
 25  Plasticity             11778 non-null  object
 26  Total_Unit             11778 non-null  object
 27  Score_Rang             11778 non-null  object
 28  Zoning                 11778 non-null  object
 29  ผังสี                  11768 non-null  object
 30  สีdis                  11789 non-null  object
dtypes: float64(6), int64(5), object(20)
memory usage: 2.8+ MB

TOTAL_DMG                10665
ZONE                        21
SUB_ZONE                    21
ผังสี                       21
WaterConte                  11
Plasticity                  11
LiquidLimi                  11
SoftClay_m                  11
Zoning                      11
Score_Rang                  11
Total_Unit                  11
DISTRICT                    10
SUB_DISTRICT                10
DATE_D                       0
LOCATION_ID                  0
UP_DMG                       0
BLDG_T                       0
DESCRIPTION                  0
District-Sub_district        0
SECOND_                      0
PROVINCE                     0
HOUR_                        0
MINUTE_                      0
LON                          0
LAT                          0
TIME_T                       0
STRUCTURE_DMG                0
WALL_DMG                     0
FLOOR_DMG                    0
PILLAR_DMG                   0
สีdis                        0
dtype: int64

### Remove column "TOTAL_DMG"

In [6]:
df = df.drop('TOTAL_DMG', axis=1)

### Create column "TOTAL_DMG"

In [7]:
df["TOTAL_DMG"] = df["UP_DMG"] + df["WALL_DMG"] + df["FLOOR_DMG"] + df["PILLAR_DMG"] + df["STRUCTURE_DMG"]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11789 entries, 0 to 11788
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LOCATION_ID            11789 non-null  object
 1   LAT                    11789 non-null  float64
 2   LON                    11789 non-null  float64
 3   DATE_D                 11789 non-null  object
 4   TIME_T                 11789 non-null  object
 5   HOUR_                  11789 non-null  float64
 6   MINUTE_                11789 non-null  float64
 7   SECOND_                11789 non-null  float64
 8   PROVINCE               11789 non-null  object
 9   DISTRICT               11779 non-null  object
 10  SUB_DISTRICT           11779 non-null  object
 11  District-Sub_district  11789 non-null  object
 12  DESCRIPTION            11789 non-null  object
 13  BLDG_T                 11789 non-null  object
 14  UP_DMG                 11789 non-null  int64
 15  WALL_DMG               11789 non-null  int64
 16  FLOOR_DMG              11789 non-null  int64
 17  PILLAR_DMG             11789 non-null  int64
 18  STRUCTURE_DMG          11789 non-null  int64
 19  ZONE                   11768 non-null  object
 20  SUB_ZONE               11768 non-null  object
 21  SoftClay_m             11778 non-null  object
 22  WaterConte             11778 non-null  object
 23  LiquidLimi             11778 non-null  object
 24  Plasticity             11778 non-null  object
 25  Total_Unit             11778 non-null  object
 26  Score_Rang             11778 non-null  object
 27  Zoning                 11778 non-null  object
 28  ผังสี                  11768 non-null  object
 29  สีdis                  11789 non-null  object
 30  TOTAL_DMG              11789 non-null  int64
dtypes: float64(5), int64(6), object(20)
memory usage: 2.8+ MB

### Remove District is na

In [8]:
df = df.dropna(subset=['DISTRICT'])

### Remove Columns not related

In [11]:
df = df.drop(["ZONE","SUB_ZONE","SoftClay_m","WaterConte","LiquidLimi","Plasticity","Total_Unit", "Score_Rang","Zoning", "ผังสี"], axis=1)

In [17]:
df.groupby('DISTRICT')['TOTAL_DMG'].sum().sort_values(ascending=False)

DISTRICT
จตุจักร              365
ห้วยขวาง             294
วัฒนา                272
บางซื่อ              203
คลองเตย              175
ราชเทวี              158
สวนหลวง              135
พญาไท                133
ภาษีเจริญ            123
ดินแดง               119
บางกะปิ              116
คลองสาน              104
ธนบุรี               103
ยานนาวา              102
บางรัก                99
สาทร                  95
พระโขนง               93
บางพลัด               78
บางนา                 74
จอมทอง                74
บางแค                 73
ปทุมวัน               72
วังทองหลาง            68
ลาดพร้าว              64
บางเขน                63
สายไหม                59
คลองสามวา             52
ประเวศ                52
บางคอแหลม             49
ดอนเมือง              47
บางกอกน้อย            46
บางกอกใหญ่            41
บางขุนเทียน           38
หลักสี่               36
ทวีวัฒนา              33
ตลิ่งชัน              32
หนองแขม               30
ทุ่งครุ               29
บึงกุ่ม               29
บางบอน                28
มีนบุรี               27
ดุสิต                 24
ราษฎร์บูรณะ           24
พระนคร                24
ลาดกระบัง             24
สะพานสูง              22
ป้อมปราบศัตรูพ่าย     17
คันนายาว              15
หนองจอก               15
สัมพันธวงศ์           12
Name: TOTAL_DMG, dtype: int64

In [18]:
df.head()

,LOCATION_ID,LAT,LON,DATE_D,TIME_T,HOUR_,MINUTE_,SECOND_,PROVINCE,DISTRICT,...,District-Sub_district,DESCRIPTION,BLDG_T,UP_DMG,WALL_DMG,FLOOR_DMG,PILLAR_DMG,STRUCTURE_DMG,สีdis,TOTAL_DMG
0,1375623100571162025032900:04:36137,13.75623,100.57116,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 00:04:36,0.0,4.0,36.0,กรุงเทพมหานคร,ห้วยขวาง,...,ห้วยขวาง-ห้วยขวาง,คอนโดลุมพินีเพลสพระราม9 อาคารบี ชั้น 13 #แผ่นด...,condo,0,0,0,0,0,ห้วยขวาง-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,0
1,1377853100576312025032901:08:55295,13.77853,100.57631,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 01:08:55,1.0,8.0,55.0,กรุงเทพมหานคร,ห้วยขวาง,...,ห้วยขวาง-ห้วยขวาง,อาคารสูง24ชั้น แบบห้อง double ความสูงพบรอยร้าว...,condo,0,0,0,0,0,ห้วยขวาง-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,0
2,1377826100574042025032901:31:45101,13.77826,100.57404,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 01:31:45,1.0,31.0,45.0,กรุงเทพมหานคร,ห้วยขวาง,...,ห้วยขวาง-ห้วยขวาง,รอยร้าวบนตึกคอนโดหลังแผ่นดินไหว 28/3/68,condo,0,0,0,0,0,ห้วยขวาง-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,0
3,137724810057752025032900:55:4670,13.77248,100.57750,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 00:55:46,0.0,55.0,46.0,กรุงเทพมหานคร,ห้วยขวาง,...,ห้วยขวาง-ห้วยขวาง,แผ่นดินไหว ห้องพบรอยร้าว,condo,0,0,0,0,0,ห้วยขวาง-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,0
4,1376383100569392025032900:59:08448,13.76383,100.56939,วันเสาร์ที่ 29 มีนาคม 2025,31/12/1899 00:59:08,0.0,59.0,8.0,กรุงเทพมหานคร,ห้วยขวาง,...,ห้วยขวาง-ห้วยขวาง,ตึกอาคารชุด Noble Revolve Ratchada 138 Ratchad...,condo,0,0,0,0,0,ห้วยขวาง-สีน้ำตาล : ที่อยู่อาศัยหนาแน่นมาก,0

In [19]:
df['report_time'] = pd.to_timedelta(
    df['HOUR_'], unit='h'
) + pd.to_timedelta(df['MINUTE_'], unit='m')

In [20]:
df['report_time']

0       0 days 00:04:00
1       0 days 01:08:00
2       0 days 01:31:00
3       0 days 00:55:00
4       0 days 00:59:00
              ...
11784   0 days 08:55:00
11785   0 days 08:58:00
11786   0 days 09:00:00
11787   0 days 09:04:00
11788   0 days 09:04:00
Name: report_time, Length: 11779, dtype: timedelta64[ns]

### ประเภทอาคาร (BLDG_T)

In [26]:
df['BLDG_T'].value_counts(normalize=True)

BLDG_T
condo                0.497920
house                0.206554
building             0.151965
other                0.101791
office building      0.025129
bridge               0.005688
apartment            0.002462
hotel                0.002462
school               0.002207
factory              0.001273
hospital             0.001273
government office    0.000594
supermarket          0.000340
temple               0.000255
bank                 0.000085
Name: proportion, dtype: float64

In [28]:
damage_cols = [
    'UP_DMG','WALL_DMG','FLOOR_DMG',
    'PILLAR_DMG','STRUCTURE_DMG','TOTAL_DMG'
]
df[damage_cols].describe()

,UP_DMG,WALL_DMG,FLOOR_DMG,PILLAR_DMG,STRUCTURE_DMG,TOTAL_DMG
count,11779.000000,11779.000000,11779.000000,11779.000000,11779.000000,11779.000000
mean,0.044910,0.111894,0.047627,0.076577,0.063673,0.344681
std,0.207116,0.315249,0.212985,0.265930,0.244179,0.645964
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000